/* VARIABLES */

:root{
    --white: #FFFFFF;
    --black: #000000;
    --brown: #1e1a13;
}

/* RESET DE ESTILOS */

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

/* GENERAL */

h1{
    font-size: 50px;
    font-weight: 500;
    color: var(--white);
}

h2{
    font-size: 40px;
    font-weight: 500;
    color: var(--white);
}

p{
    font-size: 16px;
    font-weight: 300;
    color: var(--white);
}

a{
    color: var(--white);
    text-decoration: none;
}

/* HEADER */

header{
    background-color: var(--black);
}

.header-img{
    background-image: url(../img/bg-header.jpg);
    height: 720px;
    width: auto;
    background-size: cover;
    background-position: center;
}

.header-title{
    text-align: center;
    padding: 6px 0px 6px 0px;
}

/* SECTION 1 */

#desc-section.section{
    background-color: var(--black);
    padding: 80px 40px 80px 40px;
}

#desc-section .section--container{
    display: flex;
    width: 100%;
}

#desc-section .section--container .container--text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#desc-section .section--container .container--text p{
    text-align: left;
    width: 500px;
}

#desc-section .section--container .container--img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#desc-section .section--container .container--img img{
    height: 240px;
}

/* SECTION 2 */

#icons-section.section{
    background-color: var(--brown);
    color: var(--white);
    text-align: center;
    padding: 50px 0px 50px 0px;
}

#icons-section .section--container{
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

#icons-section .container--icon{
    font-size: 50px;
    width: 200px;
}

#icons-section .container--icon p{
    padding-top: 20px;
    font-size: 24px;
}

/* SECTION 3 */

#photo-section.section{
    background-color: var(--black);
    padding: 60px 0px 60px 0px;
}

#photo-section .section--container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

#photo-section .section--container .container--photo img{
    height: 300px;
}

/* FOOTER */

#footer.section{
    background-color: var(--brown);
    color: var(--white);
    text-align: center;
    padding: 40px 0px 40px 0px;
}

#footer.section p{
    font-size: 20px;
}